*{
    margin: 0;
    padding: 0;
}
#repos{
   display: flex;
   flex-direction: column;
}
.repo {
    border-radius: 5px;
    display: inline-block;
    color: #000;
    font-size: 1rem;
    padding: 2px 2px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}